/* .desc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chartreuse;
    background-color: darkgoldenrod;
} */


/* .gl {
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: 80px;
    text-align: center;
} */


/* .bootstrap {} */