/* p {
    background-color: blue;
    height: 100px;
    font-size: 60px;
    font-weight: bold;
    /* text-align: center; */


/* border-radius: 20px; 
} */


/* 
#ide {
    font-family: Arial, Helvetica, sans-serif;
    color: darkmagenta;
    font-size: 50px;
}

.gl {
    background-color: cyan;
    color: white;
    font-weight: bolder;
    font-size: 80px;
    text-align: center;
} */