/* p {
    font-size: 70px;
    background-color: black;
    color: white;
    font-weight: bold;
} */

.heading {
    color: black;
    font-size: 30px;
}

.heading:hover {
    background-color: brown;
    /* font-family: 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif; */
}

.footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer:hover {
    background-color: chartreuse;
}