<div class="container mt-4 text-white shadow p-3 mb-5 bg-dark rounded">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form group font-weight-bold text-success text-centre col-md-12">
            <h2>Add Media To Watch</h2>
        </div>
        <div class="row">
            <div class="form-group font-weight-bold text-light col-md-4">
                <label for="Name">Movie Name</label>
                <input type="text" class="form-control" name="Name" formControlName="name" />
                <div style="color: red" *ngIf="form.get('name').hasError('required')">
                    *Name has Required
                </div>
                <div style="color: red" *ngIf="form.get('name').hasError('pattern')">
                    *Name has Invalid characters
                </div>
            </div>
            <div class="form-group text-light font-weight-bold col-md-3">
                <label for="medium">Movie Type</label>
                <select name="medium" class="form-control" formControlName="medium">
          <option selected>Choose ...</option>
          <option value="Web-Series">Web-Series</option>
          <option value="Movie">Movie</option>
          <option value="Short-Video">Short-Video</option>
        </select>
            </div>
            <div class="form-group text-light font-weight-bold col-md-3">
                <label for="category">Movie Category</label>
                <select id="category" name="category" class="form-control" formControlName="category">
          <option selected>Choose ...</option>
          <option value="Action">Action</option>
          <option value="Comedy">Comedy</option>
          <option value="Thrill">Thrill</option>
          <option value="Suspense">Suspense</option>
          <option value="Drama">Drama</option>
          <option value="Horror">Horror</option>
        </select>
            </div>
            <div class="form-group text-light font-weight-bold col-md-2">
                <label for="year">Released Year</label>
                <input type="text" class="form-control" id="year" name="year" formControlName="year" />
                <div style="color: red" *ngIf="form.get('year').hasError('required')">
                    * Year is required
                </div>
                <div style="color: red" *ngIf="form.get('year').errors as yearErrors">
                    Must be between {{ yearErrors.year.min }} and {{ yearErrors.year.max }}
                </div>
            </div>
            <div class="form-group text-light font-weight-bold col-md-2">
                <label for="watchOn">Watched On</label>
                <input type="date" class="form-control" id="watchOn" name="watchOn" formControlName="watchOn" />
            </div>
            <div class="form-group text-light font-weight-bold col-md-10">
                <label for="desc">Movie Review</label>
                <input type="textarea" class="form-control" id="desc" name="Desc" formControlName="Desc" />
            </div>
        </div>
        <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
      Submit
    </button>
    </form>
</div>

<!-- ! ===================> Angular Forms <===============================================
    1 => ==================> Template Driven Forms <====================================
    =====>  app.module.ts
    import { FormsModule, ReactiveFormsModule } from '@angular/forms';
=====>app.component.HTML
    => firstly we take a form in HTML 
  => Create a #variable name means we create a variable in the template form
  => And bind that variable with pre-define ngForm Directive 
     Like #VariableName="ngForm"
     => at that place we define an pre-define click event and bind with a method
     => like (ngSubmit)="onSubmit(#variableName.value)"
     and  create a method on ts file that perform work
     and pass the parameter in the method that is #variableName that are create
     => ngModel is pre-define Directive that bind the element to ngForm
     what is ngModel =>
     concatenate by => [()]
     two way data binding
     from component to view and vice versa
    -->
<!--
    ====> Example of Template Driven Forms -->

<!--  IN HTML========>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    <div class="container mt-4 text-white shadow p-3 md-5 bg-dark rounded">
        <form #mediaItem="ngForm" (ngSubmit)="onSubmit(mediaItem.value)">
            <div class="form group font-weight-bold text-success text-centre col-md-12">
                <h2>Add Media To Watch</h2>
            </div>
              <div class="row">
                <div class="form-group font-weight-bold text-light col-md-4">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" ngModel />
                </div>
                <div class="form-group text-light font-wight-bold col-md-3">
                    <label>Medium</label>
                    <select name="medium" class="form-control" ngModel>
              <option value="choice">Choice....</option>
              <option value="Movies">Movies</option>
              <option value="Series">Series</option>
            </select>
                </div>

                <div class="form-group text-light font-weight-bold col-md-3">
                    <label>Category</label>
                    <select name="category" class="form-control" ngModel>
              <option value="Action">Action</option>
              <option value="Science Friction">Science Friction</option>
            </select>
                </div>
                <div class="form-group text-light font-weight-bold col-md-2">
                    <label>Year</label>
                    <input type="date" name="year" ngModel />
                </div>
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
    </div> -->

<!-- 2 => ===================Reactive Forms========================= 

    we create an form by reactive 
 ====> app.module.ts
    import { FormsModule, ReactiveFormsModule } from '@angular/forms';
 firstly we import class for reactive form from  '@angular/forms' in app module

 ====>app.ts
import { FormControl, FormGroup } from '@angular/forms';
importing class from '@angular/forms' 
 In the class on  ngOnInit() method we define reactive form attribute   
form: any;
  ngOnInit() {
    this.form = new FormGroup({
      medium: new FormControl('movies'),
      name: new FormControl(''),
      category: new FormControl(''),
      date: new FormControl(''),
    });
  }   
  onSubmit(mediaItem: any) {
    console.log(mediaItem);
  }
 
  =====>>App.html
== firstly we bind the formGroup by variable that are created in the ts file
== and second predefine event define and bind an method and get their value 
== at the attribute put the directive predefine >formControlName and bind with what you 
   key object pair in the ts at that place which value you want to get 

<div class="container mt-4 text-white shadow p-3 mb-5 bg-dark rounded">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="form group font-weight-bold text-success text-centre col-md-12">
                <h2>Add Media To Watch</h2>
            </div>
            <div class="row">
                <div class="form-group font-weight-bold text-light col-md-4">
                    <label>Name</label>
                    <input type="text" class="form-control" name="Name" formControlName="name" />
                </div>

                <div class="form-group text-light font-weight-bold col-md-3">
                    <label>Medium</label>
                    <select name="medium" class="form-control" formControlName="medium">
              <option selected>Choose ...</option>
              <option value="Web-Series">Web-Series</option>
              <option value="Movie">Movie</option>
              <option value="Short-Video">Short-Video</option>
            </select>
                </div>

                <div class="form-group text-light font-weight-bold col-md-3">
                    <label>Category</label>
                    <select name="category" class="form-control" formControlName="category">
              <option selected>Choose ...</option>
              <option value="Action">Action</option>
              <option value="Comedy">Comedy</option>
              <option value="Thrill">Thrill</option>
              <option value="Suspense">Suspense</option>
              <option value="Drama">Drama</option>
              <option value="Horror">Horror</option>
            </select>
                </div>

                <div class="form-group text-light font-weight-bold col-md-2">
                    <label for="input2ip">Date</label>
                    <input type="date" class="form-control" id="inputDate" name="date" formControlName="date" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    ??????????????????????????????????????????????????????????????????????????????????????????
/===============================FormBuilder=========================================
// FormBuilder to make a large form to make simple code by FormBuilder form

//>> step 1
// to make form builder import class from angular/form library
// import {FormBuilder,} from '@angular/forms';

//>>  step 2
// make a variable Form and assign the FormGroup Class
// form:FormGroup

//>> Step 3
// make a constructor and pass the parameter by the private access modifier and assign the
// FormBuilder class to the variable in the parameter of constructor
// constructor(private formBuilder:FormBuilder) {}

//>> step 4
// In the ngOnInit(){} access the variable that assign FormGroup
// and call the object that assign the FormBuilder class
// and from the object call the predefine method by class object
// group() same as the reactive FormGroup
// control() same as the reactive FormControl
// array()
// ngOnInit() {
//   this.form = this.formBuilder.group({
//     name: this.formBuilder.control('', [
//       Validators.required,
//       Validators.pattern('[\\w\\_\\-\\/]+'),
//     ]),
//     medium: this.formBuilder.control('Movies'),
//     category: this.formBuilder.control(''),
//     year: this.formBuilder.control('', this.yearValidator),
//   });
// }
// And the HTML file has same as the Reactive form
// ====================================================================
// =================Reactive ts=======================
// form: FormGroup;
//   title: any;
//   ngOnInit() {
//     this.form = new FormGroup({
//       name: new FormControl('', [
//         Validators.required,
//         Validators.pattern('[\\w\\_\\-\\/]+'),
//       ]),
//       // name: new FormControl('', Validators.required),
//       medium: new FormControl('movies'),
//       category: new FormControl(''),
//       year: new FormControl('', this.yearValidator),
//       // name: new FormControl('', Validators.required),
//       // name: new FormControl(
//       //   '',
//       //   Validators.compose([
//       //     Validators.required,
//       //     Validators.pattern('[\\w\\-\\s\\/]+'),
//       //   ])
//       // ),
//     });


>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

    Required and pattern validators by the ngIf directive
<div style="color: red" *ngIf="form.get('name').hasError('required')">
    *ngIf="form.get('name').hasError('pattern')"
    From the *ngIf directive get the value of name in run time and make it true false  
                              and has predefine method hasError() and get the when the value is not then 
                              the markup tag is hidden and get the required predefine and patter validators message 
                          *Name has Required
                        </div>
 -->

<!-- <div style="color: red" *ngIf="form.get('year').errors as yearErrors">
  ngIf condition get the value of year input field value and get by form
   and get the errors and assign in the new variable 
     you can interpolate the value that are assign the value in ths ts file by this variable  
From the ts it come and object that have 3 property and their value from that object get the value 
and interpolate the value in markup
    Must be between {{ yearErrors.year.min }} and {{ yearErrors.year.max }}
           </div>
 -->